{% extends "index.html" %}
    {% block title %}Persons List{% endblock title %}
{% block content %}
<h1>Persons List</h1>
{% for person in obj %}
<p>
    Name: {{ person.fullname }}
</p>
<p>
    Email: {{ person.email }}
</p>
<a href="{% url 'person-detail' person.pk %}">Detail View</a>
<hr>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj.number }} of {{ obj.paginator.num_pages }}.
        </span>

        {% if obj.has_next %}
            <a href="?page={{ obj.next_page_number }}">next</a>
            <a href="?page={{ obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}